<p>
  <b>Name</b>
  <%= pass.name %>
</p>
 
<p>
  <b>Date</b>
  <%= pass.pass_set.date%>
</p>
<p>
  <b>Bar</b>
  <%= pass.pass_set.bar.name%>
</p>
<p>
  <b>Redeemed?</b>
  <%= pass.redeemed%>
</p>

