<h2>My Passes</h2>

<div class="row">
<% @passes.each do |pass| %>
  <% if (!pass.redeemed) %>
  <div class="span4 shadow" id="purchased-pass">
	<div id="pass-info">
      <p class="lead">
	    <%= pass.pass_set.bar.name %><br>
	    <br>
		<%= pass.pass_set.date.strftime("%m/%d/%Y") %>
		<br>
	  </p>
	  <small class="offset1"><%= pass.entries %></small>
	</div>	
	<div id="pass-name" class="center-text">
	  <p class="lead"><%= pass.name %></p>
	</div>
  </div>
  <% end %>
<% end %>
</div>