<h1>Admin Homepage</h1>
<p>Find me in app/views/admin/index.html.erb</p>
</br>
<p>Serving <%= @numOfCustomers %> Customers</p>
<p>With <%= @numOfPartners %> Partners</p>
<p>At X Locations</p>
</br>
	<li>
    <%= link_to 'Show Registered Customers', 'admin/customers' %>
    </li>
	</br>
	
	<li>
    <%= link_to 'Show Registered Partners', 'admin/partners' %>
    </li>
	</br>

