<% if(@bars.empty?) %>
  <h5> There are no bar locations with the searched name </h5>
<% else %>

<% @bars.each do |bar| %>
<div class="row">
  <div class="bar-preview span4 shadow">
    <h5> <%= link_to bar.name, bar %> </h5>
    <address>
	  <small> <%= bar.address %> <br>
        <abbr title="Phone">P:</abbr> <%= bar.phone_number %><br>
		<%= link_to bar.website_url, "http://#{bar.website_url}"%>
	  </small>
	</address>
	<small></small>
  </div> <!-- end of .bar-preview -->
</div>
<% end %>

<%end%>