<h1>Editing information for <%=@bar.name%></h1>

<%= render 'form' %>
<% if current_user.admin?%>
<%= link_to 'Back', user_bar_path(@user, @bar)%>
<% else %>
<%= link_to 'Back', bar_path( @bar)%>
<% end %>