<div>
  <div id="search-query" class="shadow">
	<% if @search.empty? %>
	  Listing all bars
	<% else %>
      Results for <span><%= @search %></span><br>
	  <small>Best Match</small>
	<% end %>
  </div>
  <div id="search-results">
    <%= render 'bars/search_results' %>
  </div>
  </br>
</div>