<div>
  <div id="search-query" class="shadow">
    Results for <span><%= @search %></span><br>
	<small>Best Match</small>
  </div>
  <div id="search-results">
    <%= render 'bars/search_results' %>
  </div>
  </br>
</div>