<div class="hero-unit registration-form">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal row" }) do |f| %>
  <div class="span8 offset2">
    <div class="form-inputs">
      <%= f.input :email, :required => true, :hint => "Enter your email to receive instructions on how to reset your password" %>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
	<div class="span6 offset2">
	  <%= render "devise/shared/links" %>
	</div>
  </div>
<% end %>

</div>