<div id="banner" class="row-fluid">
  <div class="span4 center-text">
	<%= image_tag("phone.png", alt: "App") %>
  </div>
  <div class="span8" id="banner-content">
	<%= image_tag("get_listed_text.png", alt: "Get Listed") %>
	<p class="lead"> LISTD lets you buy online passes to skip lines at bars and nightclubs.</p>
	<p class="lead"> Also available on your mobile phone and tablet.</p>
	<%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
  	<%= link_to "Explore", '/welcome', :class => "btn btn-inverse" %>
  </div>
</div> <!-- end of #banner -->
<div id="steps" class="row-fluid">
  <div class="span4" id="one">
	<p>Select a bar or nightclub and find available passes for a specific day. </p>
  </div>
  <div class="span4" id="two">
	<p> Purchase passes for you and your friends through our online payment system. </p>
  </div>
  <div class="span4" id="three">
	<p> Just bring your ID to the bar or nightclub and enjoy your night. </p>
  </div>
</div> <!-- end of #steps -->