<h1>The fastest, easiest way to get into the bar</h1>
<hr>
<br>

<h3> An easy-to-follow process </h3>

<p>
Listd lets you buy online passes to skip lines at your favorite bars and nightclubs from your computer or your phone. 
You can purchase passes either days before, on the day of, or while waiting in line. Just remember that our passes are limited for each night so get yours before it runs out. 
<br>
<br>

</p>

<ol><h4>Steps</h4>
<li> Search for your bar </li>
<li> Purchase your pass </li>
<li> Walk to the front of the line </li>
<li> Give your name or show your pass </li>
<li> You're in </li>
</ol>

<hr>
<br>

<h3> Listd Tickets </h3>
<p>
Passes go on sale the week before your planned outing till 5 am of the following day after your planned outing. That means you have a whole week to purchase passes, even while waiting in line. 
The sooner you purchase passes, the cheaper they are, so get them soon!
</p>

<hr>
<br>

<h3>Listd on mobile devices </h3>
<p>
Experience Listd on your mobile phone by visiting www.listdnow.com. We make it easy for you to purchase tickets on the go, or even when you are waiting in line.
 Be on the look out for our mobile apps.
</p>

<hr>
<br>

<h3>Listd for businesses</h3>
<p> 
If you are a bar or a nightclub, partner with us. Listd will supplement your revenue, increase your recognition, and increase customer satisfaction. 
<br>
Contact us at questions@listdnow.com 
</p>

<hr>
<br>

<h3>Listd's dedicated team</h3>
<p>
Our main mission is to make your nightlife experience more enjoyable and accessible. All of our transactions are secure and you can be confident of the quality of our products. Our company is dedicated and committed to your satisfaction.
</p>

<hr>
<br>

<h3>Any questions? </h3>
<p>
Contact us at questions@listdnow.com
</p>
<br>
<br>
<br>
