<h1>Contact Us</h1>
<h3>Email</h3>
<%= mail_to("questions@listdnow.com")%>

<h3>Facebook</h3>
<%= link_to image_tag("fb_icon.png", alt: "Facebook"), 'http://www.facebook.com/listd' %>

<h3>Twitter</h3>
<%= link_to image_tag("twitter_icon.png", alt: "Twitter"), 'http://twitter.com/LISTDnow/' %>

