<h1>Businesses Benefit from LISTD</h1>	

<hr>

<h3>LISTD increases your revenue</h4>
<p>
Each transaction that comes through Listd is an addition to your revenue. We will partner with you to 
ensure the best service is delivered to your customers.
</p>

<hr>

<h3>Listd helps you advertise</h3>
<p>
We will help advertise your business to our network, and help you succeed in your marketing plan. 
</p>

<hr>

<h3>Listd increases customer satisfaction</h3>
We provide an organized and efficient way for your customers to get into your bar faster. Your customers can purchase
our passes at their home comfortably, or they can easily purchase our passes while waiting in line. Listd will keep track
of all purchases and provides you an easy and organized way to view all purchases so you can focus more on your customers.  

<hr>

</br>	
<p>
If you would like to learn more about LISTD or feel like LISTD would be perfect for you business, contact us at <%= mail_to("questions@listdnow.com")%>. 
</p>