<% if current_user.stripe_customer_token != nil %>
	<h1>Edit Credit Card Information</h1></br>
	<h3>We have your credit card information, to change it please enter your new credit card information</h3></br>
<% else %>
	<h1>Enter Credit Card Information</h1>
<% end %>

<%= render "credit_form" %>

<h3>Current User Information</h3>
<p>We already have your credit card information.</p></br>
<p>Last 4 numbers of Current Credit Card: <%= @last_four %></p>
<p>Name on Credit Card: <%= current_user.name %></p>

<% if current_user.stripe_customer_token != nil %>
	<%= link_to "Delete Token", "/current_user/delete_stripe_token"%>
<% end %>