/* universal */

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#container {
  min-height: 100%;
  margin-bottom: -70px;
  position: relative;
}

.center {
  width: 50%;
  margin: 0px auto;
}

.center-text {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

.shadow {
  -moz-box-shadow:    -1px 2px 2px 2px #ccc;
  -webkit-box-shadow: -1px 2px 2px 2px #ccc;
  box-shadow:         -1px 2px 2px 2px #ccc;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1.7;
}

#logo img {
  height: 25px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* search */

.btn-search {
  height: 30px;
}


/* footer */

.clearfooter {
  height: 70px;
  clear: both;
}

footer {
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
  color: #fff;
  background-color: #000;
  min-height: 70px;
  position: relative;
}

footer a {
  color: #fff;
}  

footer a:hover { 
  color: #fff;
}

footer small {
  float: left;
}

footer .social-icons {
  float: right;
}

footer ul {
  float: left;
  list-style: none;
  margin: 0px;
}

footer ul li {
  float: left;
  margin-right: 10px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  footer {
	padding: 5%;
  }

  footer .social-icons {
	margin-top: 20px;
	float: left;
  }
}